:8090 {
	encode gzip

	reverse_proxy /realms/* keycloak:8080 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto http
		header_up X-Forwarded-Port 8090
	}

	reverse_proxy /resources/* keycloak:8080 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto http
		header_up X-Forwarded-Port 8090
	}

	reverse_proxy /admin/* keycloak:8080 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto http
		header_up X-Forwarded-Port 8090
	}

	reverse_proxy app:3000
}
