:8090 {
	encode gzip

	reverse_proxy /realms/* 127.0.0.1:8080 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Port 443
	}

	reverse_proxy /resources/* 127.0.0.1:8080 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Port 443
	}

	reverse_proxy /admin/* 127.0.0.1:8080 {
		header_up Host {host}
		header_up X-Forwarded-Host {host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Port 443
	}

	reverse_proxy 127.0.0.1:3000
}
